{% extends 'layout.html' %}


{% block title %}Home Page{% endblock %}

{% block content %}
    <h1 class="bg-pink-600 text-4xl">this is our home page</h1>
    <p class="bg-gray-200 rounded-xl border-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, corrupti ullam, voluptatum culpa similique recusandae nisi, quibusdam rem quasi eius autem voluptates maiores sunt repellendus ipsam aliquid! Saepe incidunt soluta consequuntur vel. Eligendi sint nisi libero suscipit perferendis iste, dignissimos quisquam adipisci. Impedit debitis sit nostrum repellat, amet dicta dignissimos, nobis animi incidunt error earum! Aliquam quos saepe dolorem libero ab, est quisquam dicta eligendi placeat eaque harum reprehenderit blanditiis omnis facilis excepturi quas labore fuga illum doloribus cumque ipsum itaque ut. Vitae, at earum provident autem itaque nostrum! Repellendus est tempore temporibus cupiditate? Maxime velit modi, quidem saepe sint voluptatibus nemo officia porro accusamus sit, numquam corrupti dolore voluptate cupiditate recusandae nam! Quam doloremque ex necessitatibus voluptas possimus ea.</p>
{% endblock %}
    